
<!-- partial:../../partials/_navbar.html -->

<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:../../partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="/assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">
            {{#if adminName}}
            {{adminName}}
            {{else}}
            Account
            {{/if}}
          </span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/product-view">
        <span class="menu-title">Products</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/user-details">
        <span class="menu-title">Users</span>
        <i class="mdi mdi-account menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category-view">
        <span class="menu-title">Categories</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/order-view">
        <span class="menu-title">Orders</span>
        <i class="mdi mdi-weight menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/coupon-view">
        <span class="menu-title">Coupons</span>
        <i class="mdi mdi-vector-arrange-above menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/banner-view">
        <span class="menu-title">Banners</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Add Products </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add products</li>
          </ol>
        </nav>
      </div>



      <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <!-- <p class="card-description"> Horizontal form layout </p> -->
              <form class="forms-sample" action="/admin/add-products" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="product-name" name="name" placeholder="Product name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Category</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="product-category" name="category" >
                      <option value="">Select Category</option>
                      {{#each category}}
                      <option value="{{this._id}}">{{this.category}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Metal</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="product-metal" name="metal" >
                      <option value="">Select Metal</option>
                     
                      <option value="gold">Gold</option>
                      <option value="silver">Silver</option>
                      <option value="platinum">Platinum</option>
                      
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Product description</label>
                  <div class="col-sm-9">
                    <input type="text-area" class="form-control" id="product-description" name="description" placeholder="Product description">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Product price</label>
                  <div class="col-sm-9">
                    <input type="tel" class="form-control" id="price" name="subPrice" placeholder="Product price" onkeyup="validatePrice()">
                    <span id="price-error" class="validation-label text-danger"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Product offer</label>
                  <div class="col-sm-9">
                    <input type="tel" class="form-control" id="prdtOffer" name="productOffer" placeholder="Product offer" onkeyup="validatePrice()">
                    <span id="price-error" class="validation-label text-danger"></span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Product Quantity</label>
                  <div class="col-sm-9">
                    <input type="tel" class="form-control" id="productQuantity" name="productQuantity" placeholder="Product Quantity" onkeyup="validatePrice()">
                    <span id="price-error" class="validation-label text-danger"></span>
                  </div>
                </div>
                <input type="text" style="display: none;" value="true" name="productStatus" />
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Product Image</label>
                  <div class="col-sm-9">
                  <!-- <input type="file" name="img[]" class="file-upload-default"> -->
                  <input type="file" multiple="multiple" class="form-control" name="image" class="file-upload-default" id="product-images" placeholder="Upload Image">
                  {{!-- <span class="input-group-append">
                      <button class="file-upload-browse btn btn-gradient-primary mt-3" type="button">Upload</button>
                  </span> --}}
                  </div>
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
              </form>
            </div>
          </div>

      </div> 




      
        <!-- partial -->
  </div>
      <!-- main-panel ends -->
</div>
<script type="text/javascript" src="/javascripts/signup-validation.js"></script>
        