<style>
  .camera-icon{
    position: absolute;
    top: 130px;
    left: 220px;
    background-color: white;
    width: 40px;
    height: 40px;
    color: black;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
  }
 </style>
 <div class="site-wrap">
{{!-- <div class="custom-border-bottom py-3" style="background-color: #f9f9f9;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span><a href="/user-profile">Profile</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Profile</strong></div>
        </div>
      </div>
    </div> --}}

    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-lg-4 mb-4 mb-lg-0 " data-aos="fade-up" data-aos-delay="">
                <div class="p-3 p-lg-5 border" style="background-color: #f9f9f9;">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                        <div class="block-38-header">
                          {{#if user.profile}}                       
                            <img src="{{user.profile}}" alt="Image placeholder" style="width:130px; height:130px;" class="mb-4">
                          {{else}}
                            <img src="/images/user.jpg" alt="Image placeholder" style="width:130px; height:130px;" class="mb-4">
                          {{/if}}
                            <h3 class="block-38-heading h4">{{user.name}}</h3>
                              <i type="button" class="mdi mdi-camera md-36 camera-icon" data-toggle="modal" data-target="#profile"></i> 
                        </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="p-3 border bg-white mt-4 mb-3" >
                            <span class="d-block text-primary h6 text-uppercase">My Account</span>
                        </div>
                        <div class="p-3 border mt-4 mb-3 bg-white">
                            <a href="/user-order"><span class="d-block text-primary h6 text-uppercase">My orders</span></a>
                        </div>
                        <div class="p-3 border mt-4 mb-3 bg-white">
                            <a href="/wishlist"><span class="d-block text-primary h6 text-uppercase">My wishlist</span></a> 
                        </div>
                        <div class="p-3 border mt-4 mb-3 bg-white">
                            <a href="/user-address"><span class="d-block text-primary h6 text-uppercase">mY address</span></a> 
                        </div>
                        <div class="p-3 border mt-4 mb-3 bg-primary">
                            <a href="/change-password"><span class="d-block text-white h6 text-uppercase">Change password</span></a>
                        </div>
                    
                    </div>
                </div>  
          </div>
          
          <div class="col-md-8 col-lg-8  mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row">
                
                <div class="col-md-12">
      
                  <form action="/change-password" method="post">
                    
                    <div class="p-3 p-lg-5 border">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Change Your Password?</h2>
                          </div>
                     
                      <div class="form-group row">
                        <div class="col-md-12">
                          <label for="c_subject" class="text-black">Current Password<span class="text-danger">*</span></label>
                          <input type="password" class="form-control" id="password" name="password" onkeyup="validatePassword()">
                          
                        </div>
                      </div>
                         
                      <div class="form-group row">
                        <div class="col-lg-6">
                          <input type="submit" class="btn btn-primary btn-lg btn-block" onclick="return validateForm()" value="Continue">
                            <span id="submit-error" class="validation-label text-danger"></span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                
              </div>
          </div>
        </div>
      </div>
    </div>

     <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="images/about_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Shirts This Summer</h3>
              <p>Promo from  July 15 &mdash; 25, 2019</p>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">emailaddress@domain.com</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
</div>

<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Upload profile picture?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="py-2">
            <form action="/add-profile-image" method="post" enctype="multipart/form-data">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Profile Picture</label>
                <div class="col-sm-9">
                <input type="file" class="form-control" name="profile" class="file-upload-default" id="user-profile" placeholder="Upload Image">
                </div>
              </div>
              <div class="form-group col-md-6">
                <button class="btn btn-primary btn-sm btn-block" type="submit" >Save</button>
              </div>                            
            </form>
            </div> 
        </div>
        
      </div>
    </div>
  </div>


<script type="text/javascript" src="/javascripts/signup-validation.js"></script>