<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">
    <title>Gemma</title>
</head>
<body>
    <div class="site-section" style="background-color: ; height:100vh;">
    <div class="container">
        <div class="row ">
        <div class="col-md-12 text-center">
            <h2 class="h3 mb-3 text-black">Forgot your Password?</h2>
        </div>
        <div class="col-md-7 mx-auto align-items-center justify-content-center">
            {{!-- <form action="/otp-login" id="submit-form" method="post"> --}}
                <div class="p-3 p-lg-5 border bg-white" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);">
                    <div class="d-flex">
                        <div class="brand-logo col-6">
                            <div class="logo">
                                <div class="site-logo">
                                <a href="/" class="js-logo-clone">GEMMA</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" style="text-align: right;">
                           <a href="/">X</a> 
                        </div>
                    </div>
                     
                <div id="sender">
                    <div class="form-group row">
                        <div class="col-md-12">
                        <label for="c_email" class="text-black mt-3">Enter your Registered Phone No. <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="+91...." />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                        <div id="recaptcha-container"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                        <input type="button" id="send" class="btn btn-primary btn-lg btn-block" onClick="phoneAuth()" value="Send OTP">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="notuser text-danger text-center" style="display: none;"><strong> NOT A REGISTERED USER!</strong></div>
                    </div>
                    <div class="form-group row">
                        <div class="blockuser text-danger" style="display: none;"><strong> YOU ARE BLOCKED!</strong></div>
                    </div>
                </div>
                <div id="verifier" style="display: none;">
                    <div class="form-group row">
                        <div class="col-md-12">
                        {{!-- <label for="c_email" class="text-black">Phone No <span class="text-danger">*</span></label> --}}
                        <input type="text" class="form-control" id="verificationcode" name="phone" placeholder="OTP Code"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                        <input type="button" id="verify" class="btn btn-primary btn-lg btn-block" onClick="codeverify()" value="Verify OTP">
                        </div>
                    </div>
                    {{!-- <div class="form-group row">
                        <p> Resend OTP in <span id="countdowntimer">20 </span> Seconds</p>
                    </div> --}}
                    <div>
                        <input type="text" id="num" name="num" value="" hidden>
                    </div>
                    <div class="form-group row">
                        <div class="p-conf text-danger" style="display: none;">otp verified</div>
                    </div>
                    <div class="form-group row">
                        <div class="n-conf text-danger" style="display: none;"><strong>INVALID OTP!</strong> </div>
                    </div>
                </div>
                
                <div class="form-group row">
                        <div class="col-lg-12">
                        <input type="button" style="display: none;" id="resend" class="resend btn btn-primary btn-lg btn-block" onClick="resendOtp()" value="Resend OTP">
                        </div>
                    </div>
                <div class="form-group row">
                    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                </div>
                </div>
            {{!-- </form> --}}
        </div>
        </div>
    </div>

    {{!-- <script type="text/javascript" src="/javascripts/signup-validation.js"></script> --}}
</body>
</html>

{{!-- <script src="https://www.gstatic.com/firebasejs/15.0.0/firebase.js"></script> --}}
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>

{{!-- <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script> --}}
<script>

   



    const firebaseConfig = {
    apiKey: "AIzaSyCEdAxEUYkAetiS5K797ngPcPqfdyY_JHI",
    authDomain: "gemma-80457.firebaseapp.com",
    projectId: "gemma-80457",
    storageBucket: "gemma-80457.appspot.com",
    messagingSenderId: "778312584892",
    appId: "1:778312584892:web:c3f69e746336d1b5880ab9",
    measurementId: "G-F62Q0J8KK5"
    };

    firebase.initializeApp(firebaseConfig);
    render();
    function render() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }

    function phoneAuth() {
    var num = document.getElementById('phone').value;
    console.log(num)
    $.ajax({
        url:'/otp-login',
        data:{
          number:num
        },
        method:'post',
        success:(response)=>{
        console.log(response)
         console.log("reached")
         if(response == null){
            //alert("user not registered")
            console.log("no user")
            document.getElementsByClassName('notuser')[0].style.display = 'block'
         }
         if(response.userStatus){
            firebase.auth().signInWithPhoneNumber(num,window.recaptchaVerifier).then(function (confirmationResult) {
                window.confirmationResult = confirmationResult;
                coderesult = confirmationResult;
                console.log('OTP Sent');
                document.getElementById('sender').style.display = 'none';
                document.getElementById('verifier').style.display = 'block'
                document.getElementById('num').value = num;

                 //var timeleft = 20;
                   // var downloadTimer = setInterval(function(){
                    //timeleft--;
                    //document.getElementById("countdowntimer").textContent = timeleft;
                    //if(timeleft == 0){
                         //document.getElementsByClassName('resend')[0].style.display = 'block'
                       //  document.getElementById('verifier').style.display = 'none'
                   //}
                    //if(timeleft <= 0)
                       // clearInterval(downloadTimer);
                    //},1000);



                //location.reload();
            }).catch(function (error) {
                // error in sending OTP
                alert(error.message);
            });
         }else{
            //alert("user is Blocked")
            console.log("no user")
            document.getElementsByClassName('blockuser')[0].style.display = 'block'
            
         }
         
        }
      })
    
    }
    //function resendOtp(){
        //var number = document.getElementById('num').value;
        //const appVerifier = window.recaptchaVerifier;
        //console.log(number)
        //firebase.auth().signInWithPhoneNumber(number, appVerifier)
        //firebase.auth().signInWithPhoneNumber(number).then(function (confirmationResult) {
                //window.confirmationResult = confirmationResult;
                //coderesult = confirmationResult;
                 //console.log('OTP Sent');
                


                //location.reload();
            //}).catch(function (error) {
                // error in sending OTP
               // alert(error.message);
           // });
    //}

    function codeverify() {
    var code = document.getElementById('verificationcode').value;
    var number = document.getElementById('num').value;
    coderesult.confirm(code).then(function () {
        console.log('OTP Verified');
        $.ajax({
        url:'/user-verify',
        data:{
          number:number
        },
        method:'post',
        success:(response)=>{
        console.log(response)
         console.log("rsached");
         location.href = '/reset-password';
        }
        })
        //document.getElementsByClassName('p-conf')[0].style.display = 'block';
       // document.getElementsByClassName('n-conf')[0].style.display = 'none'
    }).catch(function () {
        document.getElementsByClassName('p-conf')[0].style.display = 'none';
        document.getElementsByClassName('n-conf')[0].style.display = 'block'
        console.log('OTP Not correct');
    })
    }
</script>