<div class="site-wrap">
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="icon-check_circle display-3 text-success"></span>
          <div>
            <h6 class=" text-black">ORDER CONFIRMED!</h6>
          </div>
          <p class="text-dark">Hello {{orderDetails.deliveryDetails.name}},</p>
          <p class="lead mb-3 text-dark">Sit Back And Relax. Your Order is Confirmed on {{date}}.</p>
          <p class="text-dark">Your Order ID: {{orderDetails._id}}.</p>
          <p class="text-dark">Delivering to: {{orderDetails.deliveryDetails.address}}. </p>
          <div class="d-flex justify-content-center">
            <p><a href="/user-shop" class="btn btn-sm height-auto px-3 py-2 btn-primary mx-2">Back to shop</a></p>
            <p><a href="/user-order" class="btn btn-sm height-auto px-3 py-2 btn-primary mx-2">View Order Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>   
</div>